<!DOCTYPE html>
<html lang="pt-br">

<%- include("inc/head") -%>

<body>

  <%- include("inc/menubarralateral") -%>

  <div class="main-panel">

    <%- include("inc/navbar") -%>

    <div class="content">
      <div class="content">
        <div class="container-fluid">
          <div class="row">

            <a href="/funcionarios">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">content_copy</i>
                    </div>
                    <p class="card-category">Total de Funcionários</p>
                    <h3 class="card-title"> <%= data.totalfuncionarios %>
                    </h3>
                  </div>
                  <div class="card-footer">
                  </div>
                </div>
            </a>


          </div>

          <a href="/listaferias">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">store</i>
                  </div>
                  <p class="card-category">Férias Fechadas</p>
                  <h3 class="card-title"> <%= data.feriasfechadas %>
                  </h3>
                </div>
                <div class="card-footer">
                </div>
              </div>
          </a>

        </div>

        <a href="/listaferias">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">info_outline</i>
                </div>
                <p class="card-category">Férias Lançadas ou em Progresso</p>
                <h3 class="card-title"> <%= data.feriasaberta %></h3>
              </div>
              <div class="card-footer">
              </div>
            </div>
        </a>

      </div>


      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-twitter"></i>
            </div>
            <p class="card-category">Férias a Vencer</p>
            <h3 class="card-title"><%= data.feriasavencer %></h3>
          </div>
          <div class="card-footer">
            <div class="stats">

            </div>
          </div>
        </div>
      </div>

    </div>









  </div>


  </div>
  </div>


  <%- include("inc/imports") -%>

</body>

<%- include("inc/footer") -%>

</html>